@media  (min-device-width:0px) and  (max-device-width:1400px)  {

html{
	zoom: 90%;
	
}

#histograma2{
	height: 500px;
	width:400px;
	padding-top: 120px;
	margin: auto;
	float: left;
	margin-left: 80px;
	position: relative;
	
}
#histograma1{
	margin-left: 100px;
	width: auto;
	max-width:1400px; 	
	display: block;
	margin-top: 50px;
	position: relative;
	overflow: hidden;
	overflow-x: scroll;

}

}

@media  (min-device-width:1400px)   {

html{
	zoom: 120%;
	
	
}

#histograma2{
	height: 500px;
	width:400px;
	padding-top: 120px;
	margin: auto;
	float: left;
	margin-left: 200px;
	

}

#div_map{
	
	padding-left: 80px;
}

#histograma1{
	margin-left: 100px;
	max-width:1700px; 
	width: auto;
	display: block;
	margin-top: 50px;
	position: relative;
	overflow: hidden;
	overflow-x: scroll;
}

}





div{
	display: block;
}
/*Titulo de la ciudad dinamico y area de mapa  */

#ciudad {	
	font-size:30px;
	color:#3700a5 ;
	font-style:bold;
	margin: 0;
}

#contenedor_principal{
	width: 100%;
	height: 800px;
}
#div_map{	
	margin-left: 80px;
	float: left;
	
}


area :hover{
	border-color: #aa0000;
	background-color: #aa0000;
	
}



/* Filtros y botones*/
 .inputs{
	display: block;
	position: relative;
	width:500px;
	height: 50px;
	margin-left: 150px;
	
}




#h2_g{
	width: 800px;
	text-align: center;
	margin-left: 300px;
}



text{
	font-size: 13px;
}

.fechas{
	font-size:20px;
	color:#002288;
}





/* Tabla de valores*/
#tit_prov{
	text-align: center;
}
.table2{
	border: 1px solid #000;
	width: 250px;
	font-size:20px;
	font-style: bold;
	text-align: center;
	border-spacing: 0px;
	border-collapse: collapse;
}
 .td2{
	border: 2px solid #000;
	border-spacing: 0px;
	border-collapse: collapse;
}








/* titulo del histrograma de curva de valor*/
#tit_h2{
	
	text-align: center;
}



	






