@media  (min-device-width:0px) and  (max-device-width:1400px)  {

html{
	zoom: 85%;
	
}

#histograma2{
	height: 500px;
	width:400px;
	padding-top: 120px;
	margin: auto;
	float:left;
	padding-left: 50px;


}
}

@media  (min-device-width:1400px)   {

html{
	zoom: 120%;
	
	
}

#histograma2{
	height: 500px;
	width:400px;
	padding-top: 120px;
	margin: auto;
	float:left;
	padding-left: 70px;
}

#div_map{
	padding-left: 80px;
}
}


/*Titulo de la ciudad dinamico y area de mapa  */

#ciudad {	
	font-size:30px;
	color:#3700a5 ;
	font-style:bold;
	margin: 0;
}


#div_map{
	float:left;
}

area :hover{
	border-color: #aa0000;
	background-color: #aa0000;
	
}



/* Filtros y botones*/
div .inputs{
	width:500px;
	height: 30px;
	position: relative;
	
}

.inputs{
	margin-left: 20px;

}



#h2_g{
	width: 800px;
	text-align: center;
	margin-left: 300px;
}

#histograma1{
	margin-left: 30px;
	width: 1400px;
	position: relative;
	overflow: hidden;
	overflow-x: scroll;
}

text{
	font-size: 13px;
}

.fechas{
	font-size:20px;
	color:#002288;
}





/* Tabla de valores*/
.table2{
	border: 1px solid #000;
	width: 250px;
	font-size:20px;
	font-style: bold;
	text-align: center;
	border-spacing: 0px;
	border-collapse: collapse;
}
 .td2{
	border: 2px solid #000;
	border-spacing: 0px;
	border-collapse: collapse;
}








/* titulo del histrograma de curva de valor*/
#tit_h2{
	
	text-align: center;
}



	






